.gallery {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    gap: 25px;
    padding: 2%;
    justify-content: center;
}

.box {
    display: flex;
    padding-top: 2%;
}

#search {
    padding: 10px;
    width: 600px;
    margin: auto;
    border: 2px lightgray solid;
    border-radius: 5px;
}

.photo {
    border-radius: 4px;
    transition-duration: 2s;
}

.photo:hover {
    box-shadow: 0px 0px 50px rgb(148, 148, 148);
    transition-duration: .5s;
    scale: 1.1;
}